.statement { 
	display: flex; 
	justify-content: center; 
    text-align: center;
}
.statement1 { 
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex; 
	justify-content: center; 
}
.statement2 { 
    display: flex; 
	justify-content: center; 
    text-align: center;
}
.social { 
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px; 
	justify-content: center; 
    text-align: center;
}
